<section [ngClass]="{'loading': !taskList.length}"> <!--Se lista tiver vazia irá carregar a classe scss 'loading'-->

    <ul *ngIf="taskList.length"> <!--Caso a Task List for estiver zerada não irá aparecer nada-->
        <li *ngFor= "let item of taskList; let i = index" >
           <input type="checkbox" [(ngModel)]="item.checked">
           <input type="text"(keyup)="validationInput(item.task, i)" [(ngModel)]="item.task" [ngClass]="{'checked': item.checked}"> <!--Receberá a classe scss checked, caso item.checked for igual a true-->

           <button (click)="deleteItemTaskList(i)">
            <img src="assets/icons/icon-trash.svg" alt="Botão Lixeira" title="Excluir">
           </button> 

           
        </li> 

        
    </ul>
   
</section>

<app-todo-input-add-itens (emitItemTaskList)="setEmitTaskList($event)"></app-todo-input-add-itens> 
<app-todo-button-delete-all *ngIf="taskList.length" (click) ="deleteAllTaskList()"></app-todo-button-delete-all> <!--Só irá aparecer o botão deletar se a lista estiver vazia-->


 
 
